// Global SCSS imports
@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/AvenirNextLTPro-UltLtCn.otf')
    format('opentype');
  font-weight: 200;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/AvenirNextLTPro-Regular.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/AvenirNextLTPro-It.otf')
    format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/AvenirNextLTPro-MediumCn.otf')
    format('opentype');
  font-weight: 500;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/AvenirNextLTPro-Demi.otf')
    format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/AvenirNextLTPro-DemiCn.otf')
    format('opentype');
  font-weight: 600;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/AvenirNextLTPro-Bold.otf')
    format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/AvenirNextLTPro-BoldCn.otf')
    format('opentype');
  font-weight: 700;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/AvenirNextLTPro-HeavyCn.otf')
    format('opentype');
  font-weight: 800;
  font-style: normal;
  font-stretch: condensed;
}

:root {
  --primary-color: #213f7d;
  --secondary-color: #39cdcc;
  --white-color: #ffffff;
  --text-color: #545f7d;
  --font-stack: 'Avenir Next', 'sans-serif';
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  font-family: var(--font-stack);
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--text-color);
}
