.select-container {
  border: 1px solid #d3d9e5;
  min-height: 40px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  color: var(--primary-color);
  padding: 0 12px;
  font-size: 14px;
  outline: none;
}
